* {
    margin:0;
    padding:0;

    box-sizing: border-box;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 1366px;
    height:1000px;

    background-color: #7de0e0;
    margin:auto;
}
