* {
    margin:0;
    padding:0;

    box-sizing: border-box;
}

#content {
    width: 1000px;
    height: 750px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: relative;
    margin: auto;
    display: block;
    background-color: #bfd2c9;
}

#box1 {
    width: 380px;
    height: 650px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    margin-left: 90px;
    margin-top: 50px;
    position: absolute;
    background-color: #c5dcde;
}

#box2 {
        width: 380px;
    height: 650px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    margin-left: 530px;
    margin-top: 50px;
    position: absolute;
    background-color: #c5dcde;
}

#tasktxt {
    font-size: 30px;
    text-align: center;
    
}

#memberstxt {
    font-size: 30px;
    text-align: center;
    
}

#task-output {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#clearMember {
    position: absolute;
    top: 600px;
    left:250px;
    width: 100px;
}

#clearTask {
    position: absolute;
    top: 600px;
    left: 250px;
    width: 100px;

}