body {
    background-color: red;
}

.mainContainer {
    width: 1000px;
    height: 750px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: relative;
    margin: auto;
    display: block;
    background-color: #bfd2c9;
}

#box1 {
    width: 380px;
    height: 650px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    margin-left: 90px;
    margin-top: 50px;
    position: absolute;
    background-color: #c5dcde;
}

#box2 {
    width: 380px;
    height: 650px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    margin-left: 530px;
    margin-top: 50px;
    position: absolute;
    background-color: #c5dcde;
}

#head {
    font-size: 40px;
    text-align: center;
}